.succes-messasge {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border: 1px solid green;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border: 1px solid red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}